@import 'mixins';


* {
    font-family: 'roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shrikhand', sans-serif;
}

body {
    margin: 0;
}

//********* Variables de couleurs  ********
$firstcolor: #9356DC;
$secondcolor: #FF79DA;
$thirdcolor: #99E2D0;


// ******Header*******//////

header {
    height: 63px;
    display: flex;
    @include centre;
    position: relative;
    i {
        display: none !important;
        width: 8%;
        position: absolute;
        left: 20px;
    }
}
.headeravecfleche i {
    display: block !important;
}

.localisation {
    background-color: rgb(243, 242, 242);
    width: 100%;
    height: 50px;
    font-weight:500;
    display: flex;
    @include centre;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    i {
    color: black;
    padding-right: 10px;
    }
}