* {
    font-family: 'roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shrikhand', sans-serif;
}

//********* Variables de couleurs  ********
$firstcolor: #9356DC;
$secondcolor: #FF79DA;
$thirdcolor: #99E2D0;

