@import 'mixins';
@import 'variables';


* {
    font-family: 'roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shrikhand', sans-serif;
}

body {
    margin: 0;
}


// ******Header*******//////

header {
    height: 63px;
    display: flex;
    @include centre;
    position: relative;
    i {
        display: none !important;
        width: 8%;
        position: absolute;
        left: 20px;
    }
}
.headeravecfleche i {
    display: block !important;
}

//******* Main ******/////

.main__localisation {
    background-color: rgb(243, 242, 242);
    width: 100%;
    height: 50px;
    font-weight:500;
    display: flex;
    @include centre;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    i {
    color: black;
    padding-right: 10px;
    }
}

// ******* Main Partie info********//////

.main__info {
    @include centre;
    display: flex;
    flex-direction: column;
    background-color: $legergris;
    &__title {
        padding-top: 20px;
        font-family: 'roboto';
        width: 73%;
        margin-bottom: 0;
        font-size: 24px;
    }
    &__paragraphe {
        width: 84%;
        font-weight: 300;
        margin-top: 10px;
        font-size: 18px;
    }
    &__btn {
        @include boutton;
        @include centre;
        display: flex;
        width: 58%;
        margin-top: 20px;
        margin-bottom: 40px;
        color: white;
        text-decoration: none;
    }
}

