@mixin centre {
    text-align: center;
    justify-content: center;
    align-items: center;
}
@mixin degrade {
    background: linear-gradient(to bottom, $secondcolor, $firstcolor);
}

@mixin boutton {
    border-radius: 25px;
    height: 50px;
    @include degrade;
}

