//******* Partie Général*****/////


@mixin centre {
    text-align: center;
    justify-content: center;
    align-items: center;
}

@mixin degrade {
    background: linear-gradient(to bottom, $secondcolor, $firstcolor);
}

// ***** Mixins pour les boutons à fond violet ******////

@mixin boutton {
    border-radius: 25px;
    height: 50px;
    @include degrade;
}

@mixin boutton-content {
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

// ***** Mixin pour les titres de section *******///

@mixin titlesect {
    padding-top: 20px;
    font-family: 'roboto';
    width: 73%;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
}

// ****** Mixin pour les coeurs *****///

@mixin coeur {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    position: relative;
    color: black;
    font-size: 25px;
}

//******* Partie Fonctionnement*****/////

@mixin bouttonfonctionnement {
    border-radius: 20px;
    height: 72px;
    background-color: $legergris;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

//***** Partie Pages des restaurants *****//

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 
