@import 'mixins';
@import 'variables';


.main__resto {
    width: 100%;
    & img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    display: block;
    position: relative;
    }
    &__container {
        display: flex;
        position: absolute;
        background-color: $legergris;
        width: 100%;
        top: 283px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        @media screen and (min-width: 1024px) {
            width: 73%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__titlenheart {
        display: flex;
        width: 100%;
        @include centre;
        &--title {
            font-size: 28px;
            font-weight: 400;
        }
        &--heart {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            color: black;
            position: relative;
            left: 5%;
            font-size: 25px;
            transition: color 0.3s ease;
            .fa-solid {
            position: absolute;
            transition: opacity 0.3s ease;
            opacity: 0;
            color: $heartcolor;
            &:hover {
                opacity: 1;
            }
            &:active {
                opacity: 1;
            }
          }
        }
    }
    &__menu {
        width: 100%;
        background-color: $legergris;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        @media screen and (min-width: 1024px) {
            width: 73%;
            margin: auto;
            margin-top: 30px;
        }
        &--container {
            display: flex;
            flex-direction: column;
            width: 93%;
            padding-left: 7%;
            margin-bottom: 40px;
            @media screen and (min-width: 1024px) {
                align-items: center;
            }
        }
        &--title {
            display: flex;
            width: 73%;
            font-size: 16px;
            font-weight: 300;
            position: relative;
            margin-bottom: 20px;
            @media screen and (min-width: 1024px) {
                width: 43%;
            }
        }
        &--title::after {
            position: absolute;
            content: '';
            border-bottom: 3px solid $vertclair;
            width: 40px;
            top: 100%;
            margin-top: 5px;
        }
        &__card {
            background-color: white;
            border-radius: 15px;
            height: 69px;
            width: 93%;
            padding-left: 15px;
            margin-bottom: 15px;
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &--tp {
                display: flex;
                flex-direction: column;
                width: 93%;
            }
            &--title {
                width: 82%;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 5px;
                margin-top: 10px;
            }
            &--precision {
                width: 82%;
                font-size: 15px;
                font-weight: 300;
                margin-top: 0;
            }
            &--price {
                width: 5%;
                font-size: 15px;
                font-weight: 700;
                margin-top: 40px;
                margin-right: 20px;

            }
            & i {
                @include centre;
                display: flex;
                width: 15%;
                background-color: $vertclair;
                color: white;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                
            }
        }
        &--plats {
            opacity: 0;
            animation: menuderouleur 3s ease-in-out forwards;
            &:nth-of-type(1) {
                animation-delay: 0s;
            }
            &:nth-of-type(2) {
                animation-delay: 1s;
            }
            &:nth-of-type(3) {
                animation-delay: 2s;
            }
            @media screen and (min-width: 1024px){
                width: 60%;
            }
        }
        &__btn {
            @include boutton;
            @include boutton-content;
            @include centre;
            display: flex;
            width: 186px;
            margin: auto;
            margin-top: 40px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            transition: opacity 0.3s ease-in-out;
            &:hover {
                opacity: 0.6;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

// ****** Animations des pages restaurants ******//

@keyframes menuderouleur {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
// test
