//********* Variables de couleurs  ******** 


$firstcolor: #9356DC;
$secondcolor: #FF79DA;
$thirdcolor: #99E2D0;
$legergris: #faf9f9;
$vertclair: lighten(#99E2D0,5%);
$vertfonce: #008766;


//****** Voir pour faire un dégradé radient car la fonction mix ne concorde pas vraiment avec la maquette******//
$heartcolor: mix($firstcolor,$secondcolor,50%);
